# IDE and System Caches
.npm/
.cache/
.nvm/

# .NET / Backend
bin/
obj/
*.user
*.userprefs
.vs/

# Nuxt / Frontend
node_modules/
Seasoned.Frontend/node_modules/
.nuxt/
.output/
dist/

# Secrets
.env
.env.local